<p id="notice"><%= notice %></p>

<h1>Bin Collection</h1>
<%= link_to 'New Brmcollection', new_brmcollection_path %>

<div class="wrapper">
  <table class="table table-striped table-bordered">
   
  <thead>
    <tr>
      <th>Airport</th>
      <th>Bin Collected on</th>
      <th>Bin Type</th>
      <th>Weight</th>
      <th>Chopped and inspected?</th>
      <th>MQEI submitted?</th>
    </tr>
  </thead>

  <tbody>
    <% @brmcollections.each do |brmcollection| %>
      <tr>
        <td><%= brmcollection.airport.name%></td>
        <td><%= link_to brmcollection.collectedon.to_formatted_s(:long), edit_brmcollection_path(brmcollection) %></td>
        <td><%= brmcollection.bordergranularity_id%></td>
        <td><%= brmcollection.weight %></td>
        <td><%= brmcollection.chopped %></td>
        <td><%= brmcollection.mqeisubmitted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


