<p id="notice"><%= notice %></p>

<p>
  <strong>Collectedon:</strong>
  <%= @brmcollection.collectedon %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @brmcollection.weight %>
</p>

<p>
  <strong>Chopped:</strong>
  <%= @brmcollection.chopped %>
</p>

<p>
  <strong>Mqeisubmitted:</strong>
  <%= @brmcollection.mqeisubmitted %>
</p>

<%= link_to 'Edit', edit_brmcollection_path(@brmcollection) %> |
<%= link_to 'Back', brmcollections_path %>
