<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'BOB Border', root_path, class:"navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Submit</button>
        </div> 
        <%= link_to 'KPIs', kpi_index_path, class:"btn btn-info"%>
        </form>          
      <ul class="nav navbar-nav navbar-right">
       

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Airport <span class="caret"></span></a>
          <ul class="dropdown-menu">          
            <li><%= link_to 'Flight', flights_path %></li>
            <li><%= link_to 'Freight', freights_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'BRM collections', brmcollections_path %></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seaport <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">SPoT</a></li>
            <li><a href="#">TOLL</a></li>
            <li><a href="#">Searoad</a></li>
            <li><a href="#">Bell Bay</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Road freight <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Express Post</a></li>
            <li><a href="#">City freight routine</a></li>
            <li><a href="#">City freight PQA600</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>